<div class="jrny-sermon-group">
    <div class="flex justify-between items-center">
        <h3 class="h3">{{ title | default('Group Title') }}</h3>
        <div class="btn-group">
            <button class="btn btn-light px-3 py-4 jrny-sermon-group__btn jrny-sermon-group__btn--prev">⟵</button>
            <button class="btn btn-light px-3 py-4 jrny-sermon-group__btn jrny-sermon-group__btn--next">⟶</button>
        </div>
    </div>
    <div class="mt-7.5 jrny-sermon-group__sermons row">
        {% for i in 1..6 %}
            <div>
                <div class="col">
                    <div class="jrny-sermon border border-gray-200 rounded-lg overflow-hidden">
                        <img src="http://placehold.it/960x540" class="w-full h-auto">
                        <div class="p-4">
                            <p class="text-sm font-medium">Jim Wilkes</p>
                            <h4 class="h5 mt-1 mb-0">Something in the Water</h4>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>