{% if sermons %}
    <div class="jrny-sermon-group">
        <div class="flex justify-between items-center">
            <h3 class="h3">{{ title | default('Group Title') }}</h3>
            <div class="btn-group">
                <button class="btn btn-light px-3 py-4 jrny-sermon-group__btn jrny-sermon-group__btn--prev">⟵</button>
                <button class="btn btn-light px-3 py-4 jrny-sermon-group__btn jrny-sermon-group__btn--next">⟶</button>
            </div>
        </div>
        <div class="mt-7.5 jrny-sermon-group__sermons -mx-4">
            {% for sermon in sermons %}
                <div class="px-4">
                    {% include 'includes/sermon-card.twig' with { sermon: sermon } %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
