{% include 'includes/header.twig' %}

<main>
{% block main %}
    {% if posts %}
        {% for post in posts %}
            {{ post.content }}
        {% endfor %}
    {% endif %}
{% endblock %}
</main>

{% include 'includes/footer.twig' %}
