<section id="{{ block.id }}" class="jrny-section 
    jrny-section--mode-{{ block.mode }}
    jrny-section--{{ fields.spacing }}
    jrny-section--{{ fields.background_color }}
    {% if fields.full_height %}jrny-section--full-height{% endif %}
">
    <div class="container">
        <InnerBlocks />
    </div>
</section>