{% extends 'layouts/default.twig' %}

{% block main %}

<section class="jrny-section jrny-section--spacing-lg">
    <div class="container">
        <div class="row justify-center mb-15">
            <div class="col-lg-8">
                <div class="text-center">
                    <h1 class="h1">{{ title | default(function('get_the_archive_title')) }}</h1>
                    {% if description %}
                        <p class="lead mt-4">{{ description}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include 'includes/sermon-group.twig' with { title: 'Best Of' } %}
        {% include 'includes/sermon-group.twig' with { title: 'Latest Sermons', sermons: latest_sermons } %}
    <div>
</section>

<section class="jrny-section jrny-section--spacing-lg jrny-section--bg-color-light">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="h2">Struggling with<br> something else?</h2>
                <p class="lead mt-6">The Bible talks about a lot of topics, and so do we.  Here’s our sermons by category so you can find what you’re looking for.</p>
            </div>
        </div>
        <div class="row mt-14 -mb-7.5">
            {% for i in 1..9 %}
                <div class="col-sm-4">
                    <a href="#">
                        <div class="bg-white border border-gray-200 py-6 px-7.5 rounded-lg hover:border-gray-300 hover:bg-gray-50 transition transform ease-in-out hover:shadow-md hover:-translate-y-1 duration-300 mb-7.5">
                            <h5 class="h5">Grace</h5>
                            <p class="text-sm mt-1 font-medium">32 Sermons</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}