{% extends 'layouts/default.twig' %}

{% block main %}

<section>
    
</section>

<section class="jrny-section jrny-section--lg jrny-section--light">
    <div class="container">
        <div class="row items-center">
            <div class="col">
                <h4 class="h4">Pur yourself on the map</h4>
                <p class="lead">Want to host worship at your home? Let us know, and we’ll get you started and put you on the map!</p>
            </div>
            <div class="col justify-end flex">
                <a href="#" class="btn btn-primary">Get Started</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}